body{
	background-color: #000;
	color: #FFF;
}
.title-part-1{
	text-align: center;
	margin: 0 auto;
	font-size: 40px;
	margin-top: 80px;
}
.content{
	margin: 0 auto;
	text-align: center;
}
#my_camera{
	margin-top: 20px;
    margin-bottom: 20px;
}
input{
	font-size: 20px;
}
#am-container img{
	width: 125px;
	height: 125px;
}
#am-container{
	width: 500px;
	height: 750px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
	background-color: #000;
	-webkit-transform: scaleX(-1); 
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-top: 250px;
}