body{
	background-color: #000;
	color: #FFF;
}
.title-part-1{
	text-align: center;
	margin: 0 auto;
	font-size: 40px;
	margin-top: 80px;
}
.content{
	margin: 0 auto;
	text-align: center;
}
#my_camera{
	margin-top: 20px;
    margin-bottom: 20px;
}
input{
	font-size: 20px;
}
#am-container img{
	width: 150px;
	height: 150px;
}
#am-container{
	width: 450px;
	height: 450px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}